<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task App</title>
    <!-- Bootstrap css-->
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.css">

</head>
<body>
    <!--Vuejs Component-->
    <div id="taskApp" class="container">
        <div class="row">
            <div class="col-md3">

                <h1>{{ nameApp }}</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Realizado</th>
                            <th>Tareas</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="task in tasks">
                            <td> <input type="checkbox" v-model="task.done"> </td>
                            <td> {{ task.name }}</td>
                            <td>  </td>
                        </tr>
                    </tbody>
                </table>
            
            </div><!--.col-->
        </div><!--.row-->
    </div>

    <!-- Bootstrap js-->
    <script src="resources/bootstrap/js/bootstrap.js"></script>
    <!-- Vuejs-->
    <script type="text/javascript" src="resources/vue/vue.js" ></script>
    <script defer>
        new Vue({
            el: '#taskApp',
            data: {
                nameApp: 'Task Vuejs',
                author: 'kevin',
                tasks:[
                    { 
                        name: 'Estiramientos',
                        done: true 
                    },
                    { 
                        name: 'Hacer la cama',
                        done: false 
                    },
                    { 
                        name: 'Hacer desayuno',
                        done: false 
                    },
                    { 
                        name: 'Practicar ingles',
                        done: false 
                    },
                    { 
                        name: 'Practicar programacion',
                        done: false 
                    }
                ]
            }
        })
    </script>
</body>
</html>